header{
	text-align: center;
}

table{
	width: 560px;
	margin-bottom: 96px;
	border: 1px solid;
	text-align: center;
}

th,td{
	border: 1px solid;
}

.container{
	width: 70%;
	margin: auto;
}

.listPractice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}